name: Build WasmJs

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
            repository: miuix-kotlin-multiplatform/miuix
            ref: main
            fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build WasmJs Distribution
        run: |
          ./gradlew :example:wasmJs:wasmJsBrowserDistribution
      - name: Upload Wasm Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wasmJs-build
          path: ./example/wasmJs/build/dist/wasmJs/productionExecutable
